[package]
name = "unwinder"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
data = {path = "data"}
bindings = {path = "bindings"}
dinvoke = {path = "dinvoke"}
bitreader = "0.3.6"
rand = "0.8.5"